{% extends 'base.html' %}

{% block title %}Sign Up | LibraSH {% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style">
            <h1>Sign Up</h1>

            {% if confirmation %}
            
            <p> Click the following button to confirm your registration </p>

            <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                {% csrf_token %}
                <button class="btn btn-primary" type="submit">Confirm</button>
                {{ form.as_p }}
            </form>

            {% else %}

                {% url 'account_email' as email_url %}

                <p>Expired Link. <a href="{{ email_url }}">Resend Confirmation Email</a>.</p>

            {% endif %}
        </div>
    </div>
</div>
{% endblock %}