{% extends 'base.html' %}

{% block title %}Reset Password | LibraSH{% endblock %}

{% block contents%}
<div class="container">
    <div class="row">
        <div class="my-div-style">
            <h1>{%% if token_fail %}Invalid Token{% else %}Reset Password{% endif %}</h1>

            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p>This password reset link is invalid. <a href="{{ passwd_reset_url }}">Resend Reset Link</a></p>
            {% else %}
                {% if form %}
                    <form method="POST" action="{{ action_url }}">
                        {% crsf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-primary" type="submit">Reset Password</button>
                    </form>
                {% else %}
                    <p>Password is reset</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}