{% extends 'base.html' %}
{% load static %}

{% block title %}Detail | LibraSH{% endblock %}



{% block contents %}
<div class="container">
    <div class="my-div-style w-100">
        <div class="row">
            <div class="col-3">
                <strong>Title</strong>
            </div>
            <div class="col-9">
                {{ object.title }}
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-3">
                <strong>Summary</strong>
            </div>
            <div class="col-9">
                {{ object.summary|linebreaksbr }}
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-3">
                <strong>Photo</strong>
            </div>
            <div class="col-3">
                {% if object.photo %}
                    <img src="{{ object.photo.url }}" width="200" height="200"/>
                {% endif %}
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-3">
                <strong>Created at</strong>
            </div>
            <div class="col-9">
                {{ object.created_at }}
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-3">
                <strong>Updated at</strong>
            </div>
            <div class="col-9">
                {{ object.updated_at }}
            </div>
        </div>

        <a class="btn btn-success mt-5 mb-3" href="{% url 'mylibrary:document_update' object.pk %}">Update</a>
        <a class="btn btn-danger mt-5 ml-2 mb-3" href="{% url 'mylibrary:document_delete' object.pk %}">Delete</a>
    </div>
</div>
{% endblock %}